/* universal selector used to normalize box-sizing for all browsers */
html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
  font-family: 'Calibri', 'Verdana', sans-serif;
  color: #333;
  background: #fff9ef;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

#wrapper {
  margin: 2em auto;
  /* max-width on wrapper to prevent sprawl on very wide monitors */
  max-width: 700px;
  border: 2px solid #ede5c4;
  padding: 2em;
  background: #ffffff;
}


/* heading and text styles */

h1, h2 {
  font-family: 'Cambria', 'Georgia', serif;
  font-weight: normal;
  line-height: normal;
}

/*
   https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
   https://developer.mozilla.org/en-US/docs/Web/CSS/line-height
*/

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  padding-top: 0.8em;
}

p {
  line-height: 1.5em;
}


/* links */

a {
  color: #AA4465;
  text-decoration: none;
}

a:hover {
  color: #E6547B;
  text-decoration: underline;
}

.c-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.c-nav__item { }

.c-nav__link {
    display: block;
}


/* media query for small screens */

@media (max-width: 760px) {
  #wrapper {
    border: 0;
    margin: 0;
  }
}


